.arts-page {
  padding: 80px 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.arts-page h1 {
  color: #1e3a8a;
}
.arts-page h1 span{
   color: rgb(209, 143, 19);
  font-size: 40px;
}

.arts-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.arts-card {
background: linear-gradient(135deg, rgb(233, 230, 226), #e3e6f0);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.arts-card:hover {
  transform: translateY(-8px);
}

.arts-card h3 {
  color:  #1e3a8a;
}
.back-arrow {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #1e3a8a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-arrow:hover {
  transform: translateX(-6px);
  color: #0f766e;
}
